body {
    margin: 0;
    background-color: #f3e6f2;
    font-family: "Inter", sans-serif;
    text-align: center;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #353535;
}

p {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #353535;
}
/*.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
input {
    width: 117px;
  height: 83px;
  background-color: #eceef2;
  border-radius: 8px;
  text-align: center;
  border: solid 2px #B295FF;
  font-size: 55px;
  font-weight: 700;
  color: whitesmoke;
  letter-spacing: 1.1px;
  margin-right: 0;
  font-family: "Inter", sans-serif;
}

button {
  background-color: #ffffff;
  border: none;
  border-radius: 7px;
  color: #353535;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 32px;
  cursor: pointer;
  margin-top: 18px;
  transition: background 0.18s;
}

button:hover {
  background: #B295FF;
  color: #151c2c;
}

#container {
    display: block;
    padding-top: 33px;
    width: auto;
    height: 270px;
    background-color: #af739c;
}

#container-units{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-unit-meter {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px 50px 20px 50px;
    background-color: white;
}

#container-unit-vol {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px 50px 20px 50px;
    
    background-color: white;
}

#container-unit-kilo {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px 50px 20px 50px;

    background-color: white;
}
